# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
Debug/
Release/

# Rider
.idea/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/
*.snupkg

# Others
*.log
*.tlog
*.tmp
*.cache
*.bak

# OS generated
.DS_Store
Thumbs.db

# Resharper
_ReSharper*/
*.DotSettings.user
# Credenciales locales y secretos (NUNCA SUBIR)
CredencialesCorreo.config
